body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('img'); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.file-upload {
    display: none;
}
.upload-preview {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
}
.custom-button {
    margin: 5px 0;
    width: 100%;
}
.navbar-brand {
    font-size: 1.5rem;
}
.icon {
    width: 70px;
    height: 70px;
}